html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
  background-attachment: fixed;
  background-size: cover;
}

div, video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*transition: all 5s ease;*/
}

div {
  background: #000;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:  3;
  cursor: pointer;
}

#v1 {
  z-index: 2;
}
#v2 {
  z-index: 1;
}

.img {
	background-size: cover;
}
