body {
  background: #272B30;
}
#opacity {
  width: 100%;
  cursor: col-resize;
  height: 3rem;
}
.preview {
  padding-bottom: 75%;
}
select {
  width: 100%;
}
.preview {
	position: relative;
}
.preview div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
	display: none;
}

.relative {
	position: relative;
}

.label-fill {
  position: absolute;
  width: 100%;
  height: 100%;
	display: block;
	cursor: pointer;
	z-index: 5;
}

.img {
	background-size: cover;
}
